h1 {
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-style: oblique;
    text-align: center;
    text-transform: capitalize;
    color: blueviolet;
}